* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

.hero_section {
  background-image: url("assets/Hinterrhein.png");
  object-fit: cover;
}

.hero_text_container {
  background-color: rgba(159, 183, 214, 0.3);
  backdrop-filter: blur(12px);
}

.card-img-top {
  object-fit: cover;
}

h2 {
  color: #161616;
}

h3 {
  color: rgba(22, 22, 22, 0.8);
}
